.module{
    width: fit-content;
    background-color: var(--button-color);
    box-shadow: 0px 0px 0px 1px gray;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    &.selected{
        background-color: var(--secondary-color);
        color: black;
    }
    &:not(.selected):hover{
        background-color: gray;
        color: white;
    }
    &:active{
        box-shadow: 0px 0px 0px 2px gray;
    }
}