.communitypage{
    .content{
        .community-card{
            .table-wrapper{
                overflow-x: auto;
                width: 100%;
                table{
                    border-spacing: 0; /* cellspacing */
                    border-radius: 20px;
                    overflow: hidden;
                    width: 100%;
                    padding: 10px;
                    overflow-x: auto;
                    thead{
                        tr{
                            border-radius: 20px;
                            th{
                                padding: 0 10px 10px 10px;
                                border-bottom: 2px solid var(--border-color);                            
                                text-align: start;
                            }
                        }
                    }
                    tbody{
                        width: 100%;
                        tr{
                            width: 100%;
                            td{                                
                                line-height: 30px;
                                padding: 10px;
                                box-sizing: border-box;
                                height:max-content;
                                border-bottom: 1px solid var(--border-color);  
                            }
                            td.user-badges{
                                height: 100%;
                                display: block;
                                overflow: hidden;
                                width: 100%;
                                min-width: 300px;
                                .small-badges{
                                    display: block;
                                    display: flex;
                                    height: 30px;
                                    flex-direction: row;
                                    gap: 2px;
                                    box-sizing: border-box;
                                    
                                    .badge-small{
                                        margin-right: -10px;
                                    }
                                    .badge-small:hover{
                                        margin-right: 0;
                                        // margin-left: -10px;
                                    }
                                }
                                .badge-more{
                                    width: 30px;
                                    height: 30px;
                                    text-align: center;
                                    background-color: var(--bg-color);
                                    border-radius: 20px;
                                    font-size: 12px;
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    overflow: hidden;
                                }
                            }
                        }
                        tr:hover{
                            background-color: var(--border-color);
                        }
                        tr:last-child{
                            td{
                                border-bottom: none;
                            }
                        }
                    }
                    tfoot{
                        tr{
                            th{
                                padding: 10px 10px 0 10px;
                                border-top: 2px solid var(--border-color);                            
                                text-align: start;
                            }
                        border-radius: 20px;
                        
                        }
                    }
                    
                }
            }
        }
    }
}